html{
    overflow-x: hidden; 
}

 body {
   font-family: 'Raleway', Helvetica, Arial, sans-serif;
   color: #FFFFFF;
   background-color: #08110D;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 500
}

.img-fluid{
    max-width: 100%;
}

.container{
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}

.hero {
  background: url('/images/exp-hero.jpg') no-repeat center;
  background-position:;
  height: 100vh;
width: inherit;
  background-size:cover;

   
}