
html{
    overflow-x: hidden; 
}

 body {
   font-family: 'Raleway', Helvetica, Arial, sans-serif;
   color: #FFFFFF;
   background-color: #08110D;
   margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 500;
    letter-spacing:1.5px;
}

p{
  letter-spacing: .5px;
  font-weight: 300;
  font-size: 13px;
}

.row{
  margin: 0; 
  height: 100vh;
}






#section1{
    background: url(../images/exp-hero.jpg) ;
    background-size:cover;
    height: 100%;
    background-position:center; 
 
}

#section1 h1{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 17.5%;
  margin-left: 7%;
  font-size: 320%;
}

#section1 h4{
  margin-top: 0.5%;
  margin-bottom: 0;
  margin-left: 7%;
  font-weight: 300;
}

#section1 li{
  list-style: none;
  margin-top: 3%;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.button{
  border: 4px solid;
  border-radius: 4em;
  border-color: #C65030;
  display: inline-block;
  margin-top: 1.5%;
  margin-left: 7%;
  height: 3.2em;
  width: 20em;
  text-align: center;
}





#section2{
    background: url(../images/exp-headlight.jpg) no-repeat;
    background-size:contain;
    background-position:100% 70%;
}

#section2 h2{
  margin-top: 10%;
  margin-left: 7%;
  color: #167861;

}

#section2 p{
  margin-left: 7%;
  display: block;
  width: 65%;
  font-size: 15px;
  line-height: 2;
}







#section3{
    background: url(../images/exp-interior.jpg);
    background-size:cover;
    background-position:center;
}

#section3 h1{
    padding-top: 15%;
    font-size: 300%;
    text-align: center;
}






#section4{
    background: url(../images/exp-tail.jpg) no-repeat;
    background-size:contain;
    background-position: 100% 65%;
    height: 100vh;
 }

#section4 h2{
  margin-top: 10%;
  margin-left: 7%;
  color: #167861;
}

#section4 p{
  margin-left: 7%;
  display: block;
  width: 65%;
  font-size: 15px;
  line-height: 2;
}





#section5{
    background: url(../images/exp-steering.jpg);
    background-size:cover;
    height: 100%;
    background-position:center;
}

#section5 h1{
    padding-top: 15%;
    font-size: 300%;
    text-align: center;
}


.logo{
  display: block;
  text-align: center;
  padding-top: 2%
}

.logo .img-fluid{
    max-width:30%;
}


.bottom-title{
  width: 100%;
  text-align: center;
  padding-top: 1%;
  padding-left: 0;
  padding-right: 0;
}


#section6 .row{
  padding-top: 2%;
}


#section6  .largelogo{
  max-width: 80%;
 margin-top: 2%;
}


#section6  h1{
  padding-left: 15%;
  font-size: 350%;
  color: #167861;
}


#section6 .col-lg-6 p{
  padding-left: 15%;
  padding-right: 11%;
  line-height: 2;
}


#section6 .button li{
  list-style-type: none;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 14px;
}


#section6  .button{
  border: 4px solid;
  border-radius: 4em;
  border-color: #C65030;
  display: inline-block;
  margin-left:0;
  height: 3.2em;
  width: 20em;
  text-align: center;
}

.icons img{
  display: inline-block;
  width: 100;
  padding-top: 0%;
  padding-left: 1%;
  padding-right: 1%;
}


#section6 li{
  list-style-type: none;
  letter-spacing: 0.5px;
  font-size: 12px;
  line-height: 3;
  display: block;
}

.footer{
    font-weight: 300;
    display: inline-block;
}

#section6 .row{
  height: auto;
}


/* MEDIA */
@media (max-width:500px) {
   #section1{
     padding:1.5em 0%;
     background-position: right;
     width:100%;
   
   }

   #section2{
     padding:1.5em 0%;
     float:right;
     width:100%;
 
   }

  #section3{
     padding:1.5em 0%;
     float:right;
     width:100%;

   }

     #section4{
     padding:1.5em 0%;
     float:right;
     width:100%;
  
   }

     #section5{
     padding:1.5em 0%;
     float:right;
     width:100%;
    
   }

   #section1 h1{
    font-size: 225%;
    padding-top:10%;
   }

   #section3 h1 {
     width:46%;
     text-align:left;
     font-size: 225%;
     display: block;
     margin-left: 7%;
     margin-top: 20%;
   }

   #section5 h1 {
     width:46%;
     text-align:left;
     font-size: 225%;
     display: block;
     margin-left: 7%;
     margin-top: 20%;
   }
     
    #section6 h1 {
     width:100%;
     text-align:left;
     font-size: 200%;
     display: block;
    }
    
    #section6 .col-lg-6 p{
    font-size: 80%;
    }
    
     #section6 .largelogo{
     width:50%;
    }
    
    #section6 .icons {
     width:50%;
    }
}


@media (max-width:700px) {

   #section3 h1 {
     text-align:left;
     display: block;
     margin-left: 7%;
     font-size: 280%
   }

   #section5 h1 {

     text-align:left;
     display: block;
     margin-left: 7%;
     font-size: 280%;
   }
     #section6 .largelogo{
     width:30%;
    }
}


@media (max-width:850px) {

   section1 h1{
    font-size: 280%;
    padding-top:14%;
   }
    #section6 .largelogo{
     width:30%;
    }
}

